@model EmartMVC.Models.Seller

@{
    ViewData["Title"] = "RegisterSeller";
}

<h1>RegisterSeller</h1>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterSeller">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Companyname" class="control-label"></label>
                <input asp-for="Companyname" class="form-control" />
                <span asp-validation-for="Companyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSTIN" class="control-label"></label>
                <input asp-for="GSTIN" class="form-control" />
                <span asp-validation-for="GSTIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutCompany" class="control-label"></label>
                <input asp-for="AboutCompany" class="form-control" />
                <span asp-validation-for="AboutCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobileno" class="control-label"></label>
                <input asp-for="Mobileno" class="form-control" />
                <span asp-validation-for="Mobileno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @ViewBag.message
        </div>
    </div>
</div>

<div>
    <a asp-action="SellerLogin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

